@import "site.mixins.less";


.s-Sitio-SliderDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }
}

.s-Sitio-NosotrosDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }
}

.s-Sitio-NuestrosClientesDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }
}

.s-Sitio-HistoriaDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }
}

.s-Rental_SPA-Gestion-ArriendoWizardDialog {
    .caption {
        width: 150px;
    }
}
