@model Rental_SPA.Common.DashboardPageModel

@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}

@section Head {
@Html.StyleBundle("Pages/Dashboard")
@Html.ScriptBundle("Pages/Dashboard")
}

@section ContentHeader {
    <h1>@Localizer.Get("Navigation.Dashboard")<small>@Html.Raw(Texts.Site.Dashboard.ContentDescription.ToString(Localizer))</small></h1>
}

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="container text-center mt-5">
        <h2>Bienvenido al Administrador del Sitio Rental SPA</h2>
        <br />
        <h4>Navegadores recomendado para una mejor experiencia: <i class="fa fa-chrome" title="Chrome"></i> <i class="fa fa-firefox" title="Mozilla Firefox"></i></h4>
    </div>
</div><!-- /.row -->
<!-- Main row -->

